{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Add User {% endblock %}</h1>
<hr/>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }} 
    {{ form.name(class="form-control") }}
    <br/>
    {{ form.email.label(class="form-label") }} 
    {{ form.email(class="form-control") }}
    <br/>
    {{ form.password.label(class="form-label") }} 
    {{ form.password(class="form-control") }}
    <br/>
    {{ form.password2.label(class="form-label") }} 
    {{ form.password2(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-primary mb-3") }}
</form>

{% endblock %}