{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Add User {% endblock %}</h1>
<hr/>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }} 
    {{ form.name(class="form-control") }}
    <br/>
    {{ form.email.label(class="form-label") }} 
    {{ form.email(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-primary mb-3") }}
</form>

{% if our_users %}
    <hr/>
    {% for our_user in our_users %}
        <p>{{ our_user.id }} - {{ our_user.name }} {{ our_user.email }}</p>
    {% endfor %}
{% endif %}

{% endblock %}